
header{
  color: #ffffff;
  background-color: #20B2AA;
  font-family: verdana
}
.cfoto{
  background-color:#98FB98;
text-align: center;
}
.datos2{
  background-color: #00FA9A;

}
.datost{
  background-color: #87CEEB;
}
.datos3{
  background-color: #B0E0E6;
}
.datos4{
  background-color:#87CEEB;
}
